.name {
  text-transform: uppercase !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.site-name {
  height: 120px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-header {
  float: none !important;
  height: 70px !important;
  display: flex !important;
  align-items: flex-end !important;
  background: yellow !important;
}

.dropdown-toggle {
color: #007900 !important;

}
.front .main-container .row > .col-sm-6 {
  width: 100% !important;
}

.front .col-sm-6 .view-news .views-row .image img {
  object-fit: cover;
  object-position: bottom left;
}

/* .navbar-header .container {
      width: 900px !important;
} */

/* .region-menu-left {
  max-width: none !important;
}


.region-menu-right {
  max-width: none !important;
}


.navbar-header .region .menu > li > span {
  padding: 43px 75px 0 !important;
} */
